<div class="fixed">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/"><img src="/img/logo.png"></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        <ul>

        <section class="top-bar-section">
            <ul class="right">
                <li><a data-scroll href="{{ include.home_prefix }}#about">About</a></li>
                <li><a data-scroll href="{{ include.home_prefix }}#services">Services</a></li>
                <li><a data-scroll href="{{ include.home_prefix }}#pricing">Pricing</a></li>
                <li><a data-scroll href="{{ include.home_prefix }}#talks">Talks</a></li>
                <li><a data-scroll href="{{ include.home_prefix }}#contact">Contact</a></li>
                {% comment %}Only show the blog link if there are posts{% endcomment %}
                {% if site.posts.size > 0 %}<li><a href="/blog/">Blog</a></li>{% endif %}
            </ul>
        </section>
    </nav>
</div>
