---
layout: layout
---

<div id="hero" class="width-100 dark-blue-bg">
    
    {% include nav.html home_prefix='' %}

    <div class="text-center"><img id="hero-logo" src="/img/h.png" alt="H"></div>
    <p class="white text-center">Hayes Law Firm, PLLC &middot; 25 Broadway, 10F &middot; NYC &middot; 212 380 6513 &middot; <a class="white" href="mailto:info@hayeslf.com">info@hayeslf.com</a></p>

    <div class="text-center">
        <img src="/img/arrow.png" id="arrow">
    </div>
</div>

{{ content }}
